[submodule "solutions/the_art_of_electronics-paul_horowitz_and_winfield_hill-3e"]
	path = solutions/the_art_of_electronics-paul_horowitz_and_winfield_hill-3e
	url = https://github.com/milesdai/TAoE3Solutions
